.categories{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-class{
border: 1px solid black;
width: 18%;
height: 300px;
}
.cat-img{
display: block;
width: 100%;
height: 65%;
}
.questions-main{
padding-left: 20px;
}