.categories{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.main-class{
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
width: 19%;
padding: 15px;
}
.cat-img{
display: block;
width: 100%;
height: 220px;
}
.questions-main{
border: 1px solid black;
margin: 20px 50px;
padding: 20px;
height: 52vh;
width: 60%;
}
.logout{
position: absolute;
top: 20px;
right: 50px;
}
.head-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}
.result{
    width: 50%;
    height: 20vh;
    border: 1px solid black;
    margin: auto; 
    margin-top: 100px;   
    padding: 30px;
    box-sizing: border-box;
}